/* Position container grid column 2 grid row 1 */

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 2;
  grid-row: 1;
  width: 100%;
}

.search-input {
  background-color: #141527; 
  border: none;
  color: #FFF;
  font-size: 1.5em;
  margin: 1em 1.75em;
  padding: .5em;
  width: 70%;
}

.search-button {
  background-color: #B56AF0;
  border: none;
  border-radius: 2em;
  color: #FFF;
  font-size: 1.5em;
  margin: 1.5em;
  padding: .5em;
  width: 20%;
}