.news-card {
  background-color: #FFF;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  margin: 0em 1em 1em;
  width: 45%;
}

img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.footer-info {
  background-color: #B46AF1;
  width: 100%;
  font-size: 1.5em;
}

.arrow-img {
  height: auto;
  width: 4em;
}

.url-link {
  justify-content: space-around;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}